---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import presentation from "../data/presentation";
---

<Layout title="Dai Chekkal | Software engineer and a web developer">
  <div class="mb-20">
    <h1 class="text-3xl mb-5">{presentation?.title}</h1>
    <p class="text-gray-400 max-w-[500px]">
      {presentation?.description}
    </p>
  </div>
  <Section title="Selected projects">Coming soon...</Section>
</Layout>
