---
import Section from "./Section.astro";
---

<footer>
  <div class="container py-10">
    <Section title="Get in touch">
      <p class="mb-5 text-gray-400">
        Email me at <a href="daichekkal@gmail.com">daichekkal@gmail.com</a> or follow
        me via my social links.
      </p>
      <ul class="flex space-x-3 text-gray-400">
        <li>
          <a
            href="https://github.com/daishek"
            target="_blank"
            class="hover:text-white duration-300">Github</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/daixek"
            target="_blank"
            class="hover:text-white duration-300">Twitter</a
          >
        </li>
      </ul>
    </Section>
  </div>
</footer>
