---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import presentation from "../data/presentation";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/;2.png" type="image/x-icon" />
    <meta
      name="description"
      content={"Hi I'am Dai Chekkal," + presentation.description}
    />
    <title>{title}</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600&family=Syne+Mono&display=swap");
      html,
      body {
        height: 100%;
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      html::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      html {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="bg-black min-h-screen text-white flex flex-col font-replicate">
    <!-- rainbow-effect -->
    <div class="absolute inset-0 overflow-hidden">
      <div class="jumbo absolute -inset-[10px] opacity-50"></div>
    </div>
    <!-- end rainbow-effect -->

    <Navbar />

    <main class="container flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  @keyframes jumbo {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
  .jumbo {
    --stripesDark: repeating-linear-gradient(
      100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%
    );

    --rainbow: repeating-linear-gradient(
      100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%
    );

    background-image: var(--stripesDark), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) opacity(50%) saturate(200%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
  }

  .jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripesDark), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    mix-blend-mode: difference;
  }
</style>
